.welcomenav{
    width: 100%;
    height:120px;
    background-color: rgb(213, 222, 222);
}

#logo{
    color:black;
    font-size: 80px;
    margin-left: 20px;
}

.welcomebody{
    background-color: cornflowerblue;
    width: 100%;
    height: 1000px;
}

.pic{
    border-radius: 50%;
    margin-top: 260px;
    margin-left: 70px;
}

#paragraph{
    float: right;
    margin-top: 400px;
    margin-right: 400px;
    color: aliceblue;
    font-size: x-large;  
}

.welcomebottom{
    background-color: rgb(213, 222, 222);;
    width: 100%; 
    height:500px;
}

.internButton, .projButton, .schoolButton, .confButton{
    color: cornflowerblue;
    background-color: white;
    font-size: 16px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 7px solid cornflowerblue;
    margin-top: 160px;
    margin-left:140px;
    
    
}